mixin Header() 
    .header
        .header_bx
            nav 
                .logo 
                    a(href="/") 
                        img(src="images/header/logo_1.png") 
                        img(src="images/header/logo_2.png")
                ul 
                    li
                        a(href="/about") About Us
                    li
                        a(href="/servises") Services
                    li
                        a(href="/work") Work
                    li
                        a(href="/news") News
                    li
                        a(href="/contacts") Contacts
            .contacts 
                .contact-bx
                    img(src="./images/header/phone.png")
                    .text-bx 
                        p Call us 
                        p(class="phone") (405)555-0128
                .contact-bx 
                    img(src="./images/header/chat.png")
                    .text-bx 
                        p Talk to us 
                        p(class="email") hello@createx.com 

